@media (max-width: 400px) {
    .content-header__title {

        font-size: 3rem;
    }

        
}

@media (min-width: 1400px) {

}

@media (min-width: 1200px) {

    .content-header__paragraph{
        max-width: 34rem;
    }

    .menu-auth{
        display: flex;
    }


}

@media (min-width: 768px) {
    .menu__items{
        display: flex;
    }
    .menu-mobile{
        display: none;
    }
    .hamburger{
        display: none;
    }
}